<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Express!</title>

</head>
<body>
    <%- include('./partials/header.ejs') %>      
    
    <main>
        <h1>Pokedex</h1>

        <% if(message != "") {  %>
            <section id="message">
                    <p>Cadastrado com sucesso!</p> <span id="close">&times;</span>
            </section>
            <% }  %>
     <section id="cards">
        <% pokemons.forEach(element =>{ %> 
            <a id="click" href="/detalhes/<%= element.numero %> "> <div class="card">
            <!-- <div class="numero_do_pokemon">Id:<%= element.numero %> </div> -->
            <img src="<%= element.imagem %> " alt="">
            <h2 class="nome_do_pokemon"><%= element.nome %> </h2>
            <div class="tipo_pokemon">Tipo: <%= element.tipo %> </div>
            <!-- <div class="descricao_pokemon"><%= element.descricao %> </div> 
            <div class="altura_pokemon">Altura: <%= element.altura %> </div> 
            <div class="peso_pokemon">Peso: <%= element.peso%> </div>     
            <div class="categoria_pokemon">Categoria: <%= element.categoria %> </div> 
            <div class="habilidade_pokemon">Habilidade: <%= element.habilidade %> </div>  -->
        </div></a>
        <%}) %>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>      
    <script src="/js/script.js"></script>
</body>
</html>